.drop-area {
    position: relative;
    cursor: pointer;
    height: 180px;
}

.drop-area p {
    margin: 0;
}

.drop-area input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.preview-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preview-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
